body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body{
  background: url(../img/bg.png);
}
header{
  background: #FFF9E8;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.3);
  display: table;
  height: 50px;
  width: 100%;
}
h1{
  color: #FFAC1B;
  display: table-cell;
  font-size: 3rem;
  padding: 0 0 0 15px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
  vertical-align: middle;
}
article{
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
}
a{
  text-decoration: none;
}
.status{
  background: #fff;
  border: 2px solid #ddd;
  border-bottom: 4px solid #ddd;
  border-radius: 6px;
  float: left;
  margin: 0 1%;
  padding: 0 0 15px 0;
  position: relative;
  width: 23%;
}
.statusName{
  background: #ddd;
  border-bottom: 2px solid #ddd;
  border-radius-top: 4px;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0 8px;
  width: 100%;
}
.task{
  background: #eee;
  border: 2px solid #ddd;
  border-bottom: 4px solid #ddd;
  border-radius: 6px;
  font-size: 1.6rem;
  height: 150px;
  margin: 15px auto 0 auto;
  position: relative;
  width: 90%;
}
.taskId{
  background: #ddd;
  padding: 0 5px;
}
.priority{
  background: blue;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  right: 28px;
  text-align: center;
  top: 1px;
  width: 40px;
}
.btnEdit img{
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 26px;
}
.taskName{
  background: #fff;
  height: 80px;
  left: 2%;
  position: absolute;
  top: 30px;
  width: 70%;
}
.engineerId{
  background: #fff;
  height: 80px;
  position: absolute;
  right: 2%;
  text-align: center;
  top: 30px;
  width: 24%;
}
.engineerId img{
  margin: 5px 0 0 0;
  width: 80%;
}
.engineerId p{
  bottom: 0;
  font-size: 1.4rem;
  position: absolute;
  width: 100%;
}
.anticipatedCommencementDate{
  bottom: 5px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 50%;
}
.expectedCompletionDate{
  bottom: 5px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50%;
}
.completionDate{
  bottom: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#btnAddTask{
  background: #FFAC1B;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.3);
  border-radius: 4px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 0;
  position: absolute;
  right: 2px;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
  top: 2px;
  width: 90px;
}
#dialogAddTask{
  font-size: 1.2rem;
  width: 600px;
}
#dialogContentsLeft,#dialogContentsRight{
	float: left;
	width: 50%;
}
#dialogContentsLeft div,#dialogContentsRight div{
	height: 50px;
}
#btnSave{
  background: #FFAC1B;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.3);
  border-radius: 4px;
  bottom: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  left: 0;
  margin: auto;
  padding: 5px 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
  width: 90px;
}
